@model List<About>
@*
    Default About Section
*@

<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Hakkımda</h2>
        <p>Hakkımda daha fazla bilgi</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        @foreach (var item in Model)
        {
            <div class="row gy-4 justify-content-center">
                <div class="col-lg-4">
                    <img src="@item.ImageUrl" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 content">
                    <h2>@item.Title</h2>
                    <p class="fst-italic py-3">
                        @item.Description
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>@item.BirthDate.ToString("dd MMM yyy")</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>@item.WebSite</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>@item.PhoneNumber</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>@item.City</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>30</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>@item.Graduation</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>@item.Email</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>@item.IsAvailable</span></li>
                            </ul>
                        </div>
                    </div>                
                </div>
            </div>
        }

    </div>

</section>