@model List<ContactInfo>
@{
    ViewData["Title"] = "İletişim Bilgileri";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Adres</th>
        <th>Telefon</th>
        <th>Email</th>
        <th>Harita Url</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Address</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Email</td>
            <td> <a target="_blank" href="@item.MapUrl">Harita Url</a> </td>
            <td>
                <a href="/ContactInfo/DeleteContactInfo/@item.ContactInfoId" class="btn btn-outline-danger">Sil</a>
                <a href="/ContactInfo/UpdateContactInfo/@item.ContactInfoId" class="btn btn-outline-info">Güncelle</a>
            </td>
        </tr>
    }

</table>

<a href="/ContactInfo/CreateContactInfo/" class="btn btn-outline-primary">Yeni İletişim Bilgisi Oluştur</a>

