@model List<Testimonial>
@{
    ViewData["Title"] = "Referanslarım";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Başlık</th>
        <th>Resim Url</th>
        <th>Yorum</th>
        <th>Yıldız</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td>@item.ImageUrl</td>
            <td>@item.Comment</td>
            <td>@item.Review</td>
            <td>
                <a href="/Testimonial/DeleteTestimonial/@item.TestimonialId" class="btn btn-outline-danger">Sil</a>
                <a href="/Testimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-outline-info">Güncelle</a>
            </td>
        </tr>
    }

</table>

<a href="/Testimonial/CreateTestimonial/" class="btn btn-outline-primary">Yeni Referans Oluştur</a>